/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: 300;
  font-size: medium;
  text-align: center;
  color: #444;
  line-height: 1.42857143;
}

nav {
  width: 220px;
  max-width: 90%;
  margin: 0 auto 1em auto;
}

nav ul {
  list-style-type: none;
  margin-left: 0.5em;
  text-align: left;
  font-size: 15px;
}
nav ul li {
  margin-left: 0;
}

blockquote {
  border: 1px solid rgba(228,229,233,0.96);
  border-width: 1px 0;
  line-height: 110%;
  margin: 30px 0 10px 0;
  padding: 15px 0 30px 0;
  font-size: 20.5px;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
  }

header {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  margin: 1.5em 0 0 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 29px;
}
h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
  color: #444;
}
h2 a:hover, h2 a:active, h3 a:hover, h3 a:active {
  color: #000;
}


h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 1em;
}

h2.post-title {
  line-height: 120%;
  font-size: 33px;
  margin-bottom: 0;
  text-align: center;
}

.page-title {
    margin-bottom: 2em;
}

.feature-image {
  text-align: center;
  margin: 2em 0;
}

.feature-image img {
  max-width: 100%;
  margin: 0 auto;
}

article img {
  max-width: 100%;
}

.entry h2 {
  font-size: 29px;
  color: #333;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.entry h2 + p, .entry p:first-child, .entry h2 + .highlight {
    margin-top: 1em;
}
.meta-image {
    display: none;
}

h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
p { margin: 1.5em 0; }

a {
  color: #1982d1;
  text-decoration: none;
}
a:visited { color: #3C5466; }
a:hover, a:active {
  color: #378CCE;
  text-decoration: underline;
}

.caption {
  display: block;
  font-size: 80%;
  color: #888;
  font-style: italic;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.copy-text {
  position: absolute;
  right: 0;
}
footer {
  margin-top: 1em;
}
.copyright {
  font-size: 70%;
  color: #777;
  text-align: center;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts article {
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(228,229,233,0.96);
}

.posts article h2, .posts article .post-meta {
    text-align: left;
}

.posts article blockquote {
  border: none;
  margin: 1.5em 0;
  padding: 0;
  font-size: inherit;
}

.posts li {
  line-height: 1.75em;
}
.read-more {
  font-size:80%;
  font-style: italic;
  margin-top: -10px;
}

.post-meta {
  margin-bottom: 2em;
  text-align: center;
}
.post-meta .tags {
  padding-left: 0.5em;
}
a.tag {
  border-radius: 3px;
  text-shadow: 0px 0px #eee;
  padding: 0.2em 0.3em;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #0089e0;
  opacity: 0.8;
  white-space: nowrap;
}
a.tag:hover, a.tag:active {
  text-decoration: none;
  background-color: #0281D1;
}
.tag-container {
  text-align: center;
  margin: 0 auto 1em auto;
  line-height: 32px;
  opacity: 0.7;
}
.tag-container a.tag {
  font-size: 15px;
  padding: 0.3em 0.4em;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container-fluid {
  font-size: 115%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

.site {
  text-align: left;
  margin: 55px 120px 2em 400px;
  line-height: 1.5em;
}

/******
 * Menu
 ******/
header {
  border-right: 1px solid rgba(248,249,253,0.96);
  margin-top: 50px;
  display: block;
  overflow-y: auto;
  width: 340px;
  float: left;
}
.logo a {
  display: block;
}
.logo img {
  border: 1px solid #999;
}

.social-links {
  margin: 1.3em 0 1em 0;
  text-align: center;
}
.social-links a:hover, .social-links a:active {
  text-decoration: none;
}
.social-links img {
  opacity: 0.8;
}
.social-links a:hover img, .social-links a:active img {
  opacity: 1;
}
.twitter-follow-button {
  vertical-align: bottom;
}

.title {
  display: inline-block;
  margin: 0.5em 0;
}
.search-container {
  padding: 0.5em;
  margin: 1em;
  background: #f7f7f7;
  border: 1px solid #eee;
}

aside {
  width: 220px;
  max-width: 90%;
  font-size: 80%;
  text-align: left;
  margin: 0 auto 1em auto;
  opacity: 0.8;
}
.tag-container {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/*****
 * end menu
 *****/

.meta {
  color: #777;
  font-size: 80%;
}
.meta .date {
  color: inherit;
}

.sibling-posts {
  font-size: 80%;
  margin-bottom: 1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear {
  clear: both;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: .4em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.share-container {
  margin: 2em 0;
  font-size: 90%;
  text-align: center;
  border: 1px solid rgba(228,229,233,0.96);
  border-width: 1px 0;
}
.share-container .author {
  width: 300px;
  margin: 1em auto;
}
.share-container .author .avatar {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 20px;
}
.share-container p {
    vertical-align: top;
}
.st-fixed-container {
    position: fixed;
    top: 3em;
    right: 1.5em;
    padding: 0.5em;
    background: #fafafa;
    border: 1px solid #f2f2f2;
    text-align: center;
}
.st-fixed-container h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0.5em auto;
}
.st-fixed-container .st {
    margin: 0 auto;
    display: block;
}
.st-horizontal {
  margin: 1.5em auto;
  padding: 1em 0.5em 0.5em;
}
.st-horizontal h4 {
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0.2em 0.5em 0 auto;
  vertical-align: top;
}
.share {
  float: left;
  margin-right: 0.5em;
}
p.related {
  font-size: 90%;
}


.pagination, .btn {
  font-family: Arial, sans-serif;
}

/* PAGINATION */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 80%;
}

.pagination>li {
  display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 4px 10px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color:#74B5DF;
  border-color:#74B5DF;
  cursor: default;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* BUTTONS */
.btn {
	background-color:#6CA6CD;
	text-indent:0;
	border:1px solid #33A1DE;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:25px;
	width:90px;
	text-decoration:none;
	text-align:center;
  cursor: pointer;
  margin: 5px auto;
}

.btn.btn-selected, .btn.btn-selected:hover {
	background-color:#0099CC;
	border:1px solid #337fed;
	color:#ffffff;
}

.btn:hover {
	color:#ffffff;
	background-color:#0099CC;
}
.btn:active {
	position:relative;
	top:1px;
}

/* FORMATTING */
ul, ol {
  margin-left: 1em;
}
ul li, ol li {
  margin-left: 1em;
}
b {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

@media only screen and (max-width: 1100px) {
  .site {
    margin-top: 40px;
    margin-left: 300px;
    -webkit-transition: width 0.3s, margin 0.3s, padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s, margin 0.3s, padding 0.3s;
  }
  .menu {
    width: 260px;
    -webkit-transition: width 0.3s, margin 0.3s, padding 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s, margin 0.3s, padding 0.3s;
  }
  .menu aside {
    max-width: 400px;
    margin: 0 auto;
  }

  .share-container .author {
    width: 100%;
    float: none;
  }
  .st-horizontal {
    width: 100%;
    margin: 30px auto 15px;
    max-width: 100%;
    float: none;
  }
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  .st-fixed-container {
      display: none;
  }
  .site {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .title {
    margin-bottom: 0.5em;
  }
  .menu {
    float: none;
    width: 100%;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  header aside, header nav {
    width: auto;
    margin: 0 10% 1em 10%;
    text-align: center;
  }

  header nav h3 {
    text-align: center;
  }

  header nav ul {
    margin-top: 0.2em;
    text-align: center;
  }

  header nav li {
    display: inline;
    margin: 0 1em;
  }
  .post-title {
    margin: 1.5em 1em 0 1em;
  }
}
