---
layout: default
title: Jon Cairns Blog | Software development, ruby, git, unix and vim
---

<section class="posts">
  {% for post in paginator.posts %}
  <article  itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
    <h2 class="post-title"><a itemprop="url" href="{{ post.url }}"><span itemprop="headline">{{post.title}}</span></a></h2>

    <div class="post-meta">
      <meta itemprop="image" content="{% if post.image %}{{site.url}}/images/{{post.image}}{% else %}http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220{% endif %}" />
      <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
      <span class="meta">Posted on <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}" class="date">{{ post.date | date_to_string }}</time></span>
      <span class="tags">
        {% for tag in post.tags %}
        <a class="tag" title="View all posts tagged with {{tag}}" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>

    <div class="excerpt" itemprop="description">
      {{ post.excerpt }}
    </div>
    <p class="read-more"><a href="{{ post.url }}" title="Read the rest of this article">Read the rest</a></p>
  </article>
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
  <li><a title="Go to the previous page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</li></a>
  {% else %}
  <li class="disabled"><a href="#">&laquo; Prev</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="active"><a href="#">{{ page }}</em></a>
    {% elsif page == 1 %}
    <li><a title="Go to page {{page}}" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
    <li><a title="Go to page {{page}}" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li><a title="Go to the next page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
  <li><a href="#">Next &raquo;</a></li>
  {% endif %}
</ul>
{% endif %}
