---
layout: default
title: Jon Cairns | Search
---

<h2>Search</h2>
<script>
  (function() {
    var cx = '010919327073244214511:dnfahen19ao';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="search-container">
    <gcse:searchbox-only></gcse:searchbox-only>
</div>
