<!doctype html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Chewing on Elastic
    %meta{content: "Chewing on Elastic", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "../reveal/css/reveal.min.css", rel: "stylesheet"}/
    %link{href: "../extra.css", rel: "stylesheet"}/
    %link#theme{href: "../reveal/css/theme/solarized.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "../reveal/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="../reveal/lib/js/html5shiv.js"></script>
  %body
    %script{src: "../reveal/lib/js/head.min.js"}
    %script{src: "../reveal/js/reveal.min.js"}

    .reveal
      .slides
        %section
          %h1{style: "text-transform: lowercase;"} Chewing on Elastic
          %h2 Using Elasticsearch with the Chewy gem
          %p
            %small
              %a{href: "http://joncairns.com"} Jon Cairns
              \/
              %a{href: "http://twitter.com/joonty"} @joonty

        %section
          %h2 What is elasticsearch?
          %ul
            %li.fragment A database, basically
            %li.fragment A search engine
            %li.fragment Document orientated, no upfront schema definition
            %li.fragment Distributed and scalable
            %li.fragment RESTful HTTP API
            %li.fragment Ruddy quick

        %section
          %h2 Why and when would I use it?
          %ul
            %li.fragment When you need full text search
            %li.fragment Relevance and scoring on results
            %li.fragment Implementing auto-suggestion
            %li.fragment A way of normalising complex datasets for faster and easier querying
            %li.fragment Searches involving things like latitude and longitude distance calculations
            %li.fragment Other reasons (ask Omar)

        %section
          %h2 Let's see it in action!

        %section
          %h2 Rails integration
          %p Library options include:
          %ul
            %li.fragment
              %b tire
              %span (now retired) - not compatible with elasticsearch &gt; 1
            %li.fragment
              %b elasticsearch-rails
              %span - aimed at 1:1 mapping between your models and ES indices
            %li.fragment
              %b chewy
              %span - flexible index builder, good index management, nice query interface

        %section
          %section
            %h2 Setting it up
            %p Add chewy to your Gemfile:
            %pre
              %code.ruby{include: "scripts/gemfile.rb"}

          %section
            %h3 Setting it up
            %p Add a config/chewy.yml file:
            %pre
              %code.yaml{include: "scripts/chewy.yml"}

        %section
          %section
            %h2 Creating an index
            %p
              Create a subclass of
              %span.code Chewy::Index
              somehwere (I created a directory
              %span.code app/searches
              )
            %pre
              %code.ruby{include: "scripts/index_1.rb"}

          %section
            %h3 Creating an index
            %p Define a type from your ActiveRecord model, using conditions and scopes
            %pre
              %code.ruby{include: "scripts/index_2.rb"}

          %section
            %h3 Creating an index
            %p Add attributes to the index
            %pre
              %code.ruby{include: "scripts/index_3.rb"}

          %section
            %h3 Creating an index
            %p Add more attributes...
            %pre
              %code.ruby{include: "scripts/index_4.rb"}


        %section
          %section
            %h2 Doing a query
            %p
              Elasticsearch's
              %span.code query
              is used when you want to bring back results that may not match perfectly, and want to score them.
            %pre
              %code.ruby{include: "scripts/query_1.rb"}

          %section
            %h3 Doing a query
            %p Like ActiveRecord, it uses lazy loading to only retrieve the data when you finish your querying.
            %pre
              %code.ruby{include: "scripts/query_2.rb"}

          %section
            %h3 Doing a query
            %p
              %span.code filter
              is like
              %span.code query
              , but for when you want to reduce the matching set with exact values.
            %pre
              %code.ruby{include: "scripts/query_3.rb"}

          %section
            %h3 Doing a query
            %p Filters have some advanced syntax, but all they're doing under the hood is converting to a JSON format. You can pick and choose what style you use.
            %pre
              %code.ruby{include: "scripts/query_4.rb"}

          %section
            %h3 Doing a query
            %p You can order and limit in exactly the same way as ActiveRecord.
            %pre
              %code.ruby{include: "scripts/query_5.rb"}

        %section
          %section
            %h2 Keeping indices up to date
            %p Chewy is pretty clever about updating indices whenever you modify relevant ActiveRecord models.

            %pre
              %code.ruby{include: "scripts/update_index_1.rb"}

            %p.fragment This automatically updates indices incrementally when you do updates, creates and deletes.

          %section
            %h3 Keeping indices up to date
            %p You can trigger index changes when related models are modified

            %pre
              %code.ruby{include: "scripts/update_index_2.rb"}

            %p.fragment This automatically updates indices incrementally when you do updates, creates and deletes.

          %section
            %h3 Keeping indices up to date
            %p You can also update them with batch operations:

            %pre
              %code.ruby{include: "scripts/update_index_3.rb"}

            %p.fragment Handy for adding elasticsearch to your project after you have existing data.

        %section
          %h2 And there's lots more!
          %p.fragment
            %a{href: "https://www.elastic.co/guide/en/elasticsearch/guide/current/index.html"} Lots of elasticsearch documentation
          %p.fragment
            %a{href: "https://github.com/toptal/chewy"} Lots of chewy documentation

        %section
          %h2 The end
          %p Questions?
          %p.fragment Ask Omar

    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });
