html {
  height: 100%;
}
body {
  margin-top:20px;
  font-size: 18px;
  height: 100%;
}
.row {
  margin:10px 0px !important;
}

#display {
  padding:0px 15px;
}

.btn-xl {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.panel-notes {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  z-index: 10;
  margin-bottom: 0 !important;
  -webkit-box-shadow: 0px -6px 12px 0px rgba(136,136,136,1);
  -moz-box-shadow: 0px -6px 12px 0px rgba(136,136,136,1);
  box-shadow: 0px -6px 12px 0px rgba(136,136,136,1);
}

#notes {
  padding: 5px;
  min-height: 20px;
  font-size: 19px;
}

#notes li {
  margin: 5px auto;
}

.clickable{
  cursor: pointer;
}
.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}
.fragment, .nfragment {
  opacity: 0.3;
}

.fragment.shown, .nfragment.shown {
  opacity: 1;
}

.notes .nfragment {
  font-size: 50%;
}

.notes .nfragment.shown {
  font-size: 100%;
}
