.tiny {
  font-size: 6px !important;
}
.tiny > * {
  font-size: 6px !important;
}
.tiny-lh {
  line-height: 9px !important;
}
.reveal pre {
  box-shadow: none !important;
}
.half {
  width: 40%;
  margin: 0 1% !important;
  padding: 0 2% !important;
}

ul li, ol li {
  margin: 1em 0 !important;
}
.left {
  float: left;
}

.right {
  float: right;
}

div.border-left {
  border-left: 3px solid white !important;
}

p {
  margin: 1em auto !important;
}
.reveal .credit {
    font-size: 0.7em;
    color: #6E6E6E;
}
.reveal .quote .marks {
    font-family: Impact;
}
.reveal .quote {
    margin: 1em !important;
    font-style: italic;
    color: #eee;
}

.awesome {
  font-size: 1.5em !important;
  font-weight: bold !important;
}
.standout {
  color: #BF3EFF;
}

.reveal table {
    margin: 1em auto !important;
 }
.reveal table thead th {
    padding: 0.5em;
    border: 2px solid white;
    border-width: 0 0 2px 2px;
}
.reveal table thead th:first-child {
    border-width: 0 0 2px 0;
}

.reveal .slides h1, .reveal .slides h2, .reveal .slides h3, .reveal .slides h4, .reveal .slides h5, .reveal .slides h6 {
    text-transform: lowercase;
}

.reveal .slides h1.notrans, .reveal .slides h2.notrans, .reveal .slides h3.notrans, .reveal .slides h4.notrans, .reveal .slides h5.notrans, .reveal .slides h6.notrans {
    text-transform: none;
}
.reveal .code {
    font-family: monospace;
    color: purple;
}
.reveal pre code {
    padding-left: 1em;
}
.reveal ul.unstyled {
    list-style-type: none;
}
ul.unstyled li.tick:before {
    content:"\2713\0020\0020";
}
ul.unstyled li.cross:before {
    content:"\2717\0020\0020";
}
