---
layout: default
title: Jon Cairns | Presentations
---

<h2>Presentations</h2>

<h4>Tech</h4>
<ol>
    <li><b><a href="voltrb">Volt Framework</a></b> - WMRUG 15/10/2014</li>
    <li><b><a href="rescuing-rails-apps">Rescuing Rails apps</a></b> - WMRUG 19/04/2015</li>
    <li><b><a href="lotus-utils">Lotus Utils</a></b> - Lightning talk at WMRUG 18/08/2015</li>
    <li><b><a href="chewy">Chewing on elastic</a></b> - Elasticsearch and the Chewy gem, WMRUG 18/11/2015</li>
</ol>

<h4>Sermons</h4>
<ol>
    <li><b><a href="love-and-law">Love and Law (Mark 2:23-3:6)</a></b></li>
</ol>
