<!doctype html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Voltrb
    %meta{content: "Voltrb", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "../extra.css", rel: "stylesheet"}/
    %link{href: "../reveal/css/reveal.min.css", rel: "stylesheet"}/
    %link#theme{href: "../reveal/css/theme/night.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "../reveal/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="../reveal/lib/js/html5shiv.js"></script>
  %body
    %script{src: "../reveal/lib/js/head.min.js"}
    %script{src: "../reveal/js/reveal.min.js"}

    .reveal
      .slides
        %section
          %h1{style: "text-transform: lowercase;"} Voltrb
          %h2 A pure ruby web framework
          %p
            %small
              %a{href: "http://joncairns.com"} Jon Cairns
              \/
              %a{href: "http://twitter.com/joonty"} @joonty

        %section
          %h2 Introduction
          %ul
            %li.fragment A web framework which runs ruby on the server and client side
            %li.fragment Uses Opal to compile ruby to Javascript
            %li.fragment "Seamless" integration between client and server
            %li.fragment Handles DOM updates, live updating with user interaction
            %li.fragment Uses a persistent web socket connection to sync server and client

        %section
          %h2 In summary
          %p Meteor, but in Ruby (not JS)

        %section
          %h2 Demo time!

        %section
          %h2 The good
          %ul
            %li.fragment Live updates
            %li.fragment Ruby
            %li.fragment Reduced JavaScript
            %li.fragment Fast prototyping
            %li.fragment Good component system

        %section
          %h2 The bad
          %ul
            %li.fragment Live updating is temperamental
            %li.fragment No database adapter - currently forced to use MongoDB
            %li.fragment Would you use it in production? Really?
            %li.fragment Scaling: who even knows??

        %section
          %h2 The ugly
          %ul
            %li.fragment Too young and changeable
            %li.fragment Documentation is already out of date
            %li.fragment Underscores everywhere
            %li.fragment
              %code .or
              and
              %code .and
              methods instead of ruby constructs

        %section
          %h2 In summary
          %p One to watch, but don't use it for anything critically important.

    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });
