<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="twitter:card" content="summary">
        {% if page.post %}
        <title>Jon Cairns Blog | {{ page.title }}</title>
        <meta name="description" content="{{page.title}}: a post by Jon Cairns" />
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{page.title}}">
        <meta name="twitter:title" content="{{page.title}}">
        <meta property="og:description" content="{{page.excerpt | strip_html}}">
        <meta name="twitter:description" content="{{page.excerpt | strip_html}}">

        {% if page.image %}
        <meta property="og:image" content="{{site.url}}/images/{{page.image}}" />
        <meta name="twitter:image" content="{{site.url}}/images/{{page.image}}" />
        {% else %}
        <meta property="og:image" content="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" />
        <meta name="twitter:image" content="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" />
        {% endif %}
          <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
          <meta property="article:author" content="https://www.facebook.com/jonathan.cairns.50">
          {% for post in site.related_posts limit:3 %}
            <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.url }}/">
          {% endfor %}
        {% else %}
        <title>{{ page.title }}</title>
        <meta name="description" content="The personal blog of Jon Cairns, a software developer living in the UK." />
        <meta property="og:type" content="website">
        <meta property="og:title" content="Jon Cairns Blog">
        <meta name="twitter:title" content="Jon Cairns Blog">
        <meta property="og:description" content="Software development blog on ruby, git, unix and vim">
        <meta name="twitter:description" content="Software development blog on ruby, git, unix and vim">
        <meta property="og:image" content="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" />
        <meta name="twitter:image" content="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" />
        {% endif %}

        <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}/">
        <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}/">
        <meta property="og:site_name" content="Jon Cairns Blog">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta name="author" content="Jon Cairns" />
        <meta name="twitter:creator" content="@joonty">
        <meta name="language" content="en" />
        <meta name="robots" content="all" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="author" href="https://plus.google.com/+JonathanCairns9000?rel=author" />

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-26052025-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
      <div class="container-fluid" itemscope="" itemtype="http://schema.org/Blog">
        <header class="menu">

          <div class="logo">
            <a href="/" title="Click to go to the home page" >
              <img src="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" title="Jon Cairns" alt="Jon Cairns' gravatar" />
            </a>
          </div>

          <h1 itemprop="name" class="title">
            <a href="/" title="Jon Cairns: home page">Jon Cairns</a>
          </h1>

          <aside>
              I'm a software developer living in Birmingham, UK. I work remotely for <a href="https://ggapps.co.uk" title="Green Gorilla Apps website" target="_blank">Green Gorilla Apps</a>. I love Ruby, Python, Rust, VIM, and learning new things. This is my blog.
          </aside>

          <div class="social-links">
            <a href="https://twitter.com/joonty" target="_blank" title="@joonty on Twitter">
              <img src="/img/twitter.jpg" />
            </a>
            <a href="https://www.linkedin.com/profile/view?id=83063888" target="_blank" title="Jon Cairns on LinkedIn">
              <img src="/img/linkedin.jpg" />
            </a>
            <a rel="author" href="https://plus.google.com/+JonathanCairns9000?rel=author" target="_blank" title="Jon Cairns on Google Plus">
              <img src="/img/google.jpg" />
            </a>
            <a href="https://github.com/joonty" target="_blank" title="Jon Cairns on Github">
              <img src="/img/github.jpg" />
            </a>
            <a href="{{site.url}}/feed.xml" class="rss" target="_blank" title="RSS feed for this blog">
              <img src="/img/rss.jpg" />
            </a>
            <a href="#" class="email" target="_blank" title="Jon Cairns' email address">
              <img src="/img/email.jpg" />
            </a>
          </div>


          <nav>
              <h3>Navigation</h3>
              <ul>
                  <li><a href="/" title="Go to the home page">Home</a></li>
                  <li><a href="/tags.html" title="View all tags">Tags</a></li>
                  <li><a href="/search.html" title="Search all posts">Search</li>
                      <li><a href="https://twitter.com/joonty" title="Jon Cairns' twitter profile">Twitter</a></li>
              </ul>
          </nav>
        </header>

        <div class="site">
          {{ content }}

          <footer>
            <p class="copyright">
              Copyright &copy; Jon Cairns {{ site.time | date: '%Y' }}. Created using <a href="http://jekyllrb.com" title="Jekyll website" target="_blank">Jekyll</a>.
            </p>
          </footer>
        </div>
      </div>

    </body>
</html>
