---
layout: default
post: true
---
<div class="st-fixed-container">
    <h4>Share</h4>
    <a class="st" href="http://twitter.com/intent/tweet?text={{page.title | url_encode}}&via=joonty&url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Twitter">
      <img src="/img/twitter.jpg">
    </a>
    <a class="st" href="http://facebook.com/sharer.php?u={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Facebook">
      <img src="/img/facebook.jpg">
    </a>
    <a class="st" href="https://plus.google.com/share?url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Google+">
      <img src="/img/google.jpg">
    </a>
    <a class="st" href="https://www.linkedin.com/shareArticle?mini=true&url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on LinkedIn">
      <img src="/img/linkedin.jpg">
    </a>
</div>
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <meta itemprop="description"
        content="{{ excerpt | strip_html | truncatewords: 40 }}" />

    <h2 itemprop="headline" class="post-title">{{ page.title }}</h2>
    <div class="post-meta">
      <span class="meta">Posted on <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}" class="date updated">{{ page.date | date_to_string }}</time></span>
      <span class="tags">
        {% for tag in page.tags %}
        <a class="tag" title="View all posts tagged with {{tag}}" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
    {% if page.image %}
    <div class="feature-image">
        <img itemprop="image" src="/images/{{page.image}}" />
    </div>
    {% else %}
    <meta itemprop="image" content="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220" />
    {% endif %}

    <div class="entry" itemprop="articleBody">
        {{ content }}
    </div>
</article>
<div class="share-container">
  <div class="author">
      <a href="http://twitter.com/joonty" target="_blank">
        <img class="avatar" src="http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=100" title="Jon Cairns" alt="Jon Cairns' gravatar" />
      </a>
      <span>Follow <a href="http://twitter.com/joonty" target="_blank">Jon Cairns</a></span>
  </div>

  <div class="st-horizontal">
    <h4>Share this post</h4>
    <a href="http://twitter.com/intent/tweet?text={{page.title | url_encode}}&via=joonty&url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Twitter">
      <img src="/img/twitter.jpg">
    </a>
    <a href="http://facebook.com/sharer.php?u={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Facebook">
      <img src="/img/facebook.jpg">
    </a>
    <a href="https://plus.google.com/share?url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on Google+">
      <img src="/img/google.jpg">
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ 'http://blog.joncairns.com' | append:page.url | url_encode}}" target="_blank" title="Share this post on LinkedIn">
      <img src="/img/linkedin.jpg">
    </a>
  </div>

  <div class="clear"></div>

  {% if page.related.name %}
  <p class="related">Check out this related post: <a href="{{page.related.url}}">{{ page.related.name }}</a></p>
  {% endif %}
</div>
{% if page.previous %}
<a class="sibling-posts pull-left" title="View previous post: {{page.previous.title}}" href="{{page.previous.url}}">&larr; Previous post: {{page.previous.title}}</a>
{% endif %}
{% if page.next %}
<a class="sibling-posts pull-right" title="View next post: {{page.next.title}}" href="{{page.next.url}}">Next post: {{page.next.title}} &rarr;</a>
{% endif %}
<div class="clear"></div>


<div class="comments">
  <a name="comments"></a>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'joncairns';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
