---
layout: default
---
<h3 class="page-title">{{page.title}}</h3>
<section class="posts">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
    <article  itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <h2 class="post-title"><a itemprop="url" href="{{ post.url }}"><span itemprop="headline">{{post.title}}</span></a></h2>

      <div class="post-meta">
        <meta itemprop="image" content="{% if post.image %}{{site.url}}/images/{{post.image}}{% else %}http://www.gravatar.com/avatar/d436756dba6b642937ce602aef83e4e1.png?size=220{% endif %}" />
        <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
        <span class="meta">Posted on <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}" class="date">{{ post.date | date_to_string }}</time></span>
        <span class="tags">
          {% for tag in post.tags %}
          <a class="tag" title="View all posts tagged with {{tag}}" href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
      </div>

      <div class="excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </div>
      <p class="read-more"><a href="{{ post.url }}" title="Read the rest of this article">Read the rest</a></p>
    </article>

  {% endif %}
  {% endfor %}
  {% endfor %}
</section>
