<!doctype html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Lotus Utils
    %meta{content: "Rescuing Rails apps", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "../extra.css", rel: "stylesheet"}/
    %link{href: "../reveal/css/reveal.min.css", rel: "stylesheet"}/
    %link#theme{href: "../reveal/css/theme/night.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "../reveal/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="../reveal/lib/js/html5shiv.js"></script>
  %body
    %script{src: "../reveal/lib/js/head.min.js"}
    %script{src: "../reveal/js/reveal.min.js"}

    .reveal
      .slides
        %section
          %h1{style: "text-transform: lowercase;"} Lotus Utils
          %h2 AKA that gem you'd probably skip over
          %p
            %small
              %a{href: "http://joncairns.com"} Jon Cairns
              \/
              %a{href: "http://twitter.com/joonty"} @joonty

        %section
          %h2 What it is
          %p.fragment It's a set of classes that provide often-used features (e.g. HTML escaping) or augment existing classes (such as Hash).
          %p.fragment We'll take a look at some of the most useful.

        %section
          %h2.notrans Lotus::Utils::Inflector
          %p.fragment Pluralises/singularises words, based on standard English rules or a lookup table for the more difficult ones.
          %pre
            %code.fragment.ruby{include: "scripts/inflector.rb"}

        %section
          %h2.notrans Lotus::Utils::Kernel
          %p.fragment Adds methods that match common class names, to coerce other object types into these classes.
          %pre
            %code.fragment.ruby{include: "scripts/kernel.rb"}

        %section
          %h2.notrans Lotus::Utils::String
          %p.fragment Provides methods for changing strings into parameters, constants, etc. Also adds pluralisation methods.
          %pre
            %code.fragment.ruby{include: "scripts/string.rb"}

        %section
          %h2.notrans Lotus::Utils::PathPrefix
          %p.fragment Create unix-style paths without worrying about separators. Also used for routes.
          %pre
            %code.fragment.ruby{include: "scripts/path_prefix.rb"}

        %section
          %h2.notrans Lotus::Utils::Escape
          %p.fragment Safely escape special characters in HTML, HTML attributes and URLs.
          %pre
            %code.fragment.ruby{include: "scripts/escape.rb"}

        %section
          %h2.notrans Lotus::Utils::Attributes
          %p.fragment Hash-like object that allows you to access keys with strings or symbols, but stores internally with string keys.
          %pre
            %code.fragment.ruby{include: "scripts/attributes.rb"}

        %section
          %h2 And more
          %p.fragment Look up the API docs for more - it's the only place you can.

    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });
